[Unit]
Description=Domjudge DB container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/var/containers/domjudge_docker/start_db.sh
ExecStop=/usr/bin/docker stop -t 2 domjudge_db
WorkingDirectory=/var/containers/domjudge_docker/

[Install]
WantedBy=local.target

