[Unit]
Description=Domjudge WEB container
Requires=domjudge_db.service
After=domjudge_db.service

[Service]
Restart=always
ExecStart=/var/containers/domjudge_docker/start_web.sh
ExecStop=/usr/bin/docker stop -t 2 domjudge_web
WorkingDirectory=/var/containers/domjudge_docker/

[Install]
WantedBy=local.target

